<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>ようこそ！タイピングゲームのページへ！</h1>
</div>

　<h3>
    このページでは昔のゲームのタイトルを使ってタイピングゲームをする事が出来ます。
    ハイスコアネームを残したい方はアカウントを作成しログインしていれば、ゲーム終了後
    高得点を取ることによりハイスコアネームを残せますので、宜しければアカウント作成の上
    ゲームをプレイしてみてください！
  　アカウント作成は<a herf="http://static_pages/authentication/">こちら</a>から

    また、既にアカウントを作成されている方はヘッダーのテキストボックスからIDとPASSWORDを
    入れていただくことでログインが可能です。
  </h3>

<p>Find me in app/views/static_pages/home.html.erb</p>
