<!DOCTYPE html>
<% provide(:title, 'Home') %>
<html>
  <head>
    <div class="center jumbotron">
      <h1>ようこそ！タイピングゲームのページへ！</h1>
    </div>
  <body onload="gameSet()">
  <%= javascript_tag do %>
    var n=0;
    window.questions = <%= raw @questions.to_json %>;
    console.log("test"+window.questions[n].character_string);
    console.log(110);
    function test(){
    var a = Math.random() * window.questions.length;
    var n = Math.floor(a);
    $("#title_img").attr("src", window.questions[n].image_path);
     }
  <% end %>


    <div class="comment">
      このページでは昔のゲームのタイトルを使ってタイピングゲームをする事が出来ます。<br>
      ハイスコアネームを残したい方はアカウントを作成しログインしていれば、ゲーム終了後<br>
      高得点を取ることによりハイスコアネームを残せますので、宜しければアカウント作成の上<br>
      ゲームをプレイしてみてください！<br>
      アカウント作成は<a herf="http://static_pages/authentication/">こちら</a>から<br><br>

      また、既にアカウントを作成されている方はヘッダーのテキストボックスからIDとPASSWORDを<br>
      入力してください。
    </div>

  <%= javascript_include_tag "typing" %>

  <div class="pattern1">
    <div class="moji">
      <%= image_tag("title.jpg", :id => "title_img", :class => "img-thumbnail") %>
      <div class="timer" id="timerCount"></div>
      <div class="score" id="resultScore"></div>
      <div class="correct" id="resultCorrect"></div>
      <div class="mistake" id="resultMistake"></div>
      <div class="comboMax" id="resultComboMax"></div>
      <input class="retry" id="resultRetry" type="button" value="もう１度プレイする" onclick="retry()">
      <p id="string">PUSH ENTER KEY</p>
    </div>
    <div id="waku"></div>
    <p>Find me in app/views/static_pages/home.html.erb</p>
  </div>
  </head>
</body>
</html>
