<% provide(:title, 'Home') %>
<html>
  <head>
    <div class="center jumbotron">
      <h1>ようこそ！タイピングゲームのページへ！</h1>
    </div>
  <body onload="gameSet()">
  <%= javascript_tag do %>
    var n=0;
    window.questions = <%= raw @questions.to_json %>;
    console.log("test"+window.questions[n].character_string);
    console.log(110);
    function test(){
    var a = Math.random() * 3;
    var n = Math.floor( a ) + 1;
    $("#title_img").attr("src", window.questions[n].image_path);
    var mondai = window.questions[n].character_string;
    $("#string").text(mondai);
     }
  <% end %>


    <div class="comment">
      このページでは昔のゲームのタイトルを使ってタイピングゲームをする事が出来ます。<br>
      ハイスコアネームを残したい方はアカウントを作成しログインしていれば、ゲーム終了後<br>
      高得点を取ることによりハイスコアネームを残せますので、宜しければアカウント作成の上<br>
      ゲームをプレイしてみてください！<br>
      アカウント作成は<a herf="http://static_pages/authentication/">こちら</a>から<br><br>

      また、既にアカウントを作成されている方はヘッダーのテキストボックスからIDとPASSWORDを<br>
      入力してください。
    </div>

  <%= javascript_include_tag "typing" %>

  <div class="pattern1">
    <div class="moji">
      <%= image_tag("title.jpg", :id => "title_img", :class => "img-thumbnail") %>
      <div class="timer" id="timercount"></div>
      <p id="string">PUSH ENTER KEY</p>
    </div>
    <div id="waku"></div>
    <form name="timer">
      <input type="text" value="30">秒<br>
      <input type="button" value="start" onclick="cntStart()">
      <input type="button" value="stop" onclick="cntStop()">
    </form>
    <button type="submit" class="btn btn-default" button id="button1" onclick="test()">Push</button>
    <p>Find me in app/views/static_pages/home.html.erb</p>
  </div>

  </head>
</body>
</html>