<html>
<head>

  <%= javascript_tag do %>
    window.questions = <%= raw @questions.to_json %>;
    　console.log("test"+window.questions[0].image_path);

    function test() {
    $("#title_img").attr("src", window.questions[0].image_path);

    }
  <% end %>

  <script>
      $(document).ready(function(){
          $("button").click(function(){
              $("p").css("color", "yellow");
          });
      });
  </script>


<script>

    var character_strings = "スーパーファミコン";
    var input_strings = "スーパー";
    var not_inputed_strings = character_strings.substring(input_strings.length);
var idName = "target";
document.getElementById(idName).style.color = "#FF0000";

function testColor(){



    $("#waku").append("<span style='color: #0000FF'>" + input_strings + "</span>");
    $("#waku").append("<span id='change1' style='color: #000000'>" + not_inputed_strings + "</span>");
}

function changeColor() {
    var idName = "change1";
    document.getElementById(idName).style.color = "#FF0000";
}

</script>

</head>
<body>

<h1>Game#index</h1>

<div id="waku"></div>

<button type="submit" class="btn btn-default" button id="button2" onclick="testColor()">testColor</button>
<button type="submit" class="btn btn-default" button id="button2" onclick="changeColor()">changeColor</button>

<%= image_tag("title.jpeg", :id => "title_img") %>

<button type="submit" class="btn btn-default" button id="button1" onclick="test()">Push</button>

<p style="background-color:#ff0000">This is a paragraph.</p>
<p style="background-color:#00ff00">This is a paragraph.</p>
<p style="background-color:#0000ff">This is a paragraph.</p>

<p>This is a paragraph.</p>

<button>Set background-color of p</button>

<p>Find me in app/views/game/index.html.erb</p>

<h2>This is a heading</h2>

</body>
</html>




