<h1>Game#index</h1>

<%= javascript_tag do %>
  window.questions = <%= raw @questions.to_json %>;
　console.log("test"+window.questions[0].image_path);

  function test() {
     $("#title_img").attr("src", window.questions[0].image_path);
  }
<% end %>

<%= image_tag("title.jpeg", :id => "title_img") %>

<button type="submit" class="btn btn-default" button id="button1" onclick="test()">Push</button>


<p>Find me in app/views/game/index.html.erb</p>
