<% provide(:title, 'score') %>
<html>
  <head>
  </head>
  <body>
  <h1>Image Acquisition</h1>
  <script>
      (function() {
          var cx = '005069012517015859991:tp9vgfomdvo';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
      })();
  </script>




  <gcse:search></gcse:search>

  <gcse:searchbox enableHistory="true"></gcse:searchbox>
  <gcse:searchresults linkTarget="_self"></gcse:searchresults>



  </body>
</html>