<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">typing game</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarExample8">
      <p class="navbar-text navbar-right">ようこそ <a href="#" class="navbar-link">ゲスト</a> さん。</p>
      <form class="form-inline pull-right">
        <div class="form-group">
          <label for="email">ID</label>
          <input type="email" class="form-control" id="email" placeholder="ID">
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" class="form-control" id="pass" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign in</button>
      </form>
    </div>
  </div>
</header>